*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color:#ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container{
    max-width: 1280px;
    margin-top: auto;
    padding:15px;
    font-style: italic;

}
.headercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logotext{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #364fc7;
}