.signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 15px;
    background:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-card{
    max-width: 480px;
    width: 100%;
    background-color:#f1f3f5 ;
    padding: 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.signup-header{
    text-align: center;
    margin-bottom: 15px;
}

.signup-brand a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.6rem;
    color: #1971c2;
}

.signup-header p{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #343a40;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-form{
    margin-bottom: 1.1rem;
}

.signup-form-group{
    margin-bottom: 1.1rem;
}

 .signup-form-group label{
       display: block;
       font-size: 0.8rem;
       font-weight: 600;
       color: #343a40;
       margin-bottom: 6px;
 }

 .signup-form input{
      width: 100%;
      padding: 0.75rem;
      border-radius: 10px;
      border: none;
      background: white;
 }

 .signup-button{
     width: 100%;
     padding: 0.9rem;
     background: #1864ab;
     cursor: pointer;
     margin: 3px;
     border: none;
     border-radius: 18px;
     color: white;
 }

 .signup-switch{
    color:#212529 ;
    margin-top: 1.8rem;
    font-size: 0.7;

 }

 .signup-switch a{
    text-decoration: none;
 }